# rust build files
/target

# jetbrains ide files
/.idea

# performance data, run makesvg_linux.sh
/perf.data
/perf.data.old
/flamegraph.svg

# temporary files, place temp files here
/temp
/temporary

# un-needed runtime record script, use time command for linux, Measure-Command in powershell
time_runtime.sh